
p {
    width: 80%;
    color: yellow;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 2px;
    word-spacing: 5px;
    margin-left: 15px;
    margin-top: 40px;
}
img {
    width: 740px;
    height: 269px;
    margin-left: 15px;
    margin-top: 40px;
}